body{
    background-color: bisque;
}

.conteiner{
        color:blanchedalmond rgb(90, 57, 8);
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 15px;
        display: flex;
        justify-content: center;

}

h1{
    color: rgb(90, 57, 8);
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    justify-content: center;

}
